template(no-model)
	require(from="twbs-hgo/index as twbs" type="namespace")
	.test-confirm-dialog
		twbs:confirm-dialog(title="Alert Message" type="warning" if="this.showType === 'warning'") Alert
		twbs:confirm-dialog(title="Info Message" type="info" if="this.showType === 'info'") Info
		twbs:confirm-dialog(title="Error Message" type="error" if="this.showType === 'error'") Error
		twbs:confirm-dialog(title="Confirm Message" type="confirm" if="this.showType === 'confirm'") Confirm
		button.btn.btn-warning(click.trigger="this.refresh({showType:'warning'})") warning
		button.btn.btn-info(click.trigger="this.refresh({showType:'info'})") info
		button.btn.btn-danger(click.trigger="this.refresh({showType:'error'})") error
		button.btn.btn-success(click.trigger="this.refresh({showType:'confirm'})") confirm