template
	require(from="twbs-hgo/index as twbs" type="namespace")
	.test-switch-slider
		twbs:switch-slider(unchecked-value="N" checked-value="Y" on-check.subscribe="this.checkHandler" on-uncheck.subscribe="this.uncheckHandler")
		span ${this.test}
		twbs:switch-slider(checked-color="#713192" unchecked-color="#bbbbbb")
		twbs:switch-slider(type="round")
		twbs:switch-slider(checked-value="on" value="on")
