template
	require(from="twbs-hgo/index as twbs" type="namespace")
	.test-switch-slider
		twbs:switch-slider(un-checked-value="Y" checked-value="N" on-check.subscribe="this.checkHandler")
		span ${this.test}
		twbs:switch-slider(checked-color="#713192" un-checked-color="#bbbbbb")