template(no-model)
	require(from="css-loader!./init-app.css")
	require(from="twbs-hgo/block-code/block-code")
	require(from="./apps/test-loading-bar")
	require(from="./apps/test-confirm-dialog")
	require(from="./apps/test-pagination-box")
	require(from="./apps/test-date-picker")
	require(from="./apps/test-select-box")
	require(from="./apps/test-date-time-picker")
	require(from="./struture/nav-bar as top-nav-bar")
	.container.init-app
		top-nav-bar
		.col-xs-12.no-padding-horizontal
			h2 Instalation
			.bs-example
				h4 npm
				pre
					code
						| npm install twbs-hgo --save
				h4 template pug		
				block-code(src="src/test/apps/install-pug.pug" language="pug")
				h4 template html
				block-code(src="src/test/apps/install-html.html" language="xml")
			h2 Components
			h3 Loading Bar
				h4 A loading bar
			.bs-example
				h4 Example
				test-loading-bar
				block-code(src="src/test/apps/test-loading-bar.pug" language="pug")
			h3 Confirm Dialog
				h4 A wrapper to comfirm dialog	
			.bs-example
				h4 Example
				test-confirm-dialog
				block-code(src="src/test/apps/test-confirm-dialog.pug" language="pug")
			h3 Pagination Box
				h4 A pagination	
			.bs-example
				h4 Example
				test-pagination-box
				block-code(src="src/test/apps/test-pagination-box.pug" language="pug")
			h3 Date Picker
				h4 A Date calendar
			.bs-example
				h4 Example
				test-date-picker
				block-code(src="src/test/apps/test-date-picker.pug" language="pug")
			h3 Select Box
				h4 A Select Box
			.bs-example
				h4 Example
				test-select-box
				block-code(src="src/test/apps/test-select-box.pug" language="pug")
				block-code(src="src/test/apps/test-select-box.ts" language="typescript")
			h3 Date Time Picker
				h4 A Date Time Picker
			.bs-example
				h4 Example
				p This component use moment as format pattern.
				test-date-time-picker
				block-code(src="src/test/apps/test-date-time-picker.pug" language="pug")
