.init-app{
	.navbar-header > *{
		color:#fff;
	}
}

.bs-example{
	margin-right: 0;
	margin-left: 0;
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	position: relative;
	padding: 15px;
	margin: 0 -15px 15px;
	border-style: solid;

	.block-code {
		margin-top:15px;
	}
}

.no-padding-horizontal{
	> h1, > h2, > h3, > h4{
		padding-right:0px;
		padding-left:0px;
		margin-right:-15px;
		margin-left:-15px;
	}
}

.test-confirm-dialog{
	.btn{
		margin-right:5px;
	}
}