template
	nav.navbar.navbar-inverse.navbar-fixed-top(style="background-color: #6f5499;border-bottom:0px")
		.container-fluid
			.navbar-header
				span.navbar-brand.glyphicon.glyphicon-fire(aria-hidden="true" style="font-size:24px")
				a.navbar-brand(href="#") ${this.projectName} - ${this.projectVersion}
			.collapse.navbar-collapse
				.navbar-text.navbar-right(style="margin-right: 15px")
					a.navbar-link(href="https://github.com/hugolhmartins/twbs-hgo") GitHub