template
  require(from="css-loader!./switch-slider.css")
  .hgo-switch-slider
    label.switch
      input(disabled.if="this.disabled" type="checkbox" checked.if="this.checked" click.bind="this.value")
      span(class="${'slider '+(this.type === 'round' ?'round':'')}")
