template
  require(from="jquery as jq" type="script")
  require(from="twbs-pagination as _twbs_page" type="script")
  div
    .ui_pagin_box
    script(if="this.count > 0 && Number(this.count) > Number(this.rowsPerPage)").
      window.setTimeout(function(){
        jq('.ui_pagin_box').twbsPagination('destroy');
        jq('.ui_pagin_box').twbsPagination({
          totalPages: Math.ceil((this.count)/this.rowsPerPage),
          currentPage:this.page,
          visiblePages:this.visiblePages,
          initiateStartPageClick:false,
          first:'&laquo;',
          prev:'&lsaquo;',
          next:'&rsaquo;',
          last:'&raquo;',
          onPageClick: function (event, page) {
            this.changePage(page);
          }.bind(this)
        });
      }.bind(this), 200)
