template
  require(from="jquery as jq" type="script")
  require(from="moment/min/moment.min as moment" type="script")
  require(from="css-loader!bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css")
  require(from="bootstrap-datepicker/dist/js/bootstrap-datepicker.min as _twbs_date_picker" type="script")
  .input-group.date.date-picker.col-xs-24
    input.form-control(id="${this._uid}" type="text" placeholder="${this.placeholder}" change.trigger="this.changeDate" value="${this.value?moment(this.value).format(this.format.toUpperCase()):''}")
    span.input-group-addon
      i.glyphicon.glyphicon-calendar
    script(type="text/javascript").
      this.loaded = true;
      window.setTimeout(function(){
      jq('#'+this._uid)
      .parent(".input-group.date")
      .datepicker({
      autoclose: true
      ,format:this.format
      });
      }.bind(this),200)