template(no-model)
	require(from="css-loader!highlightjs/styles/docco.css")
	require(from="highlightjs/lib/highlight as _hljs" type="script")
	require(from="dist/ui/block-code/languages/lang-pug as _lang_pug" type="script")
	require(from="dist/ui/block-code/languages/lang-xml as _lang_xml" type="script")
	require(from="dist/ui/block-code/languages/lang-typescript as _lang_typescript" type="script")
	.block-code
		script.
			this._temp_uid = Math.ceil(Math.random()*1000,4);

		pre
			code.block-content.hljs(id="${this._temp_uid}")
		script.
			_hljs.configure({
				tabReplace: '  '
			});
			_hljs.registerLanguage("pug", _lang_pug);
			_hljs.registerLanguage("xml", _lang_xml);
			_hljs.registerLanguage("typescript", _lang_typescript);
			let block = document.getElementById(this._temp_uid);
			fetch(this.src)
				.then(res => res.text())
				.then(res_str => {	
					block.className += this.language;				
					block.textContent = res_str;
					setTimeout(() => {
						_hljs.highlightBlock(block,this.language);
					},400);
				});

